[Desktop Entry]
Type=Application
Version=1.0
Name=Pelikan
GenericName=Pisi Linux installer
TryExec=calamares
Exec=calamares
Comment=Pisi Linux — System Installer
Icon=calamares
Terminal=false
StartupNotify=false
Categories=Qt;System;
