[Desktop Entry]
Type=Application
Version=1.0
Name=Pelikan
GenericName=Pisi Linux Sistem Yükleyici
TryExec=pelikan
Exec=kdesu pelikan
Comment=Pisi Linux — System Installer
Icon=calamares
Terminal=false
StartupNotify=false
Categories=Qt;System;
